# Ignore AutogluonModels folder and all its contents
AutogluonModels/

# Ignore __pycache__ folders and all their contents
__pycache__/

autogluon-multivariate-forecasting/
autogluon-univariate-forecasting/
